<div class="min-h-[90vh] flex items-center  px-4 md:px-10 justify-center bg-slate-100"
    [style.backgroundImage]="'linear-gradient(33deg, transparent 0%, transparent 8%,rgba(32,201,151, 0.21) 8%, rgba(32,201,151, 0.21) 59%,transparent 59%, transparent 100%),linear-gradient(234deg, transparent 0%, transparent 32%,rgba(0,140,140, 0.28) 32%, rgba(0,140,140, 0.28) 99%,transparent 99%, transparent 100%),linear-gradient(312deg, transparent 0%, transparent 24%,rgba(0,102,102, 0.16) 24%, rgba(0,102,102, 0.16) 58%,transparent 58%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255))'">

    <div class="h-full w-full flex items-center">
        <div class="w-full mb-12 px-4">
            <app-card-table [columns]="assembliesTableHeaders"
                [data]="assembliesTableData" [title]="'Assemblies'"></app-card-table>
            <!-- Your table content here -->

            <app-pagination 
                [paginatedResult]="assemblies" (pageChanged)="onPageChanged($event)"></app-pagination>

        </div>
    </div>
</div>