<div class="min-h-[100vh] flex px-4 md:px-10 justify-center">

    <div class="h-full w-full flex items-center">
        <div class="mt-[100px] w-full mb-12 px-4">
            <app-card-table (setTableWidths)="setTableWidths($event)" (toggleInlineCreating)="toggleInlineCreating()" [isInlineCreating]="isInlineCreating" [isEditable]="true" [isDeletable]="true" (create)="openCreateModal()" (edit)="openEditModal($event)" (delete)="openDeleteModal($event)" (searchCriteriaChange)="loadFilteredItems($event)" [searchCriteria]="searchCriteria" [columns]="tableHeaders" [data]="tableData"
                [title]="objectPlural" [object]="objectSingle">
                <assembly-create (refresh)="loadItems($event)" [objectSingle]="objectSingle"  [objectPlural]="objectPlural" *ngIf="isInlineCreating" [isInlineCreating]="isInlineCreating" (toggleInlineCreating)="toggleInlineCreating()" [cellWidths]="cellWidths"></assembly-create>
            </app-card-table>
            <!-- Your table content here -->

            <app-pagination [paginatedResult]="data" (paginationChange)="onPaginationChange($event)"></app-pagination>
            <modal-component [width]="ModalWidth.Large
            " [isVisible]="isCreateModalVisible" (onClose)="closeCreateModal()">
                <assembly-form (refreshAssemblies)="loadItems()" (closeModal)="closeCreateModal()"></assembly-form>
            </modal-component>
            <modal-component [width]="ModalWidth.Large
            " [isVisible]="isEditModalVisible" (onClose)="closeEditModal()">
                <assembly-form #assemblyEdit  [assembly]="editData" (refreshAssemblies)="loadItems()" (closeModal)="closeEditModal()"></assembly-form>
            </modal-component>
            <modal-component
            [width]="ModalWidth.Small
            " [isVisible]="isDeleteModalVisible" (onClose)="closeDeleteModal()">
                <delete-modal [objectSingle]="objectSingle" [objectSingleLowerCase]="objectSingleLowerCase" [selectedItem]="selectedItem" (deleteHandler)="delete($event)" (closeModal)="closeDeleteModal()"></delete-modal>
            </modal-component>
        </div>
    </div>
</div>