<div class="bg-cosmosDark rounded-lg  p-4">
    <div class="card flex flex-col gap-4">
        <div class="card-header text-white text-base font-semibold">
            Assembly Details
        </div>
        <div class="card-body text-white">
            <div class="grid grid-cols-2 gap-2 mb-2">
                <div class="col">
                    <label class="p-1">Part</label>
                </div>
                <div class="col">
                    <label class="p-1">Description</label>
                </div>
                <!-- Add other labels for each column -->
            </div>

            @for (line of assemblyMultiversLines.slice(0, 10); track line.assemblageOrder) {
                <div class="grid grid-cols-2 gap-2 mb-2" >
                    <div class="col">
                        <p class="p-1">{{ line?.cdartikel }}</p>
                    </div>
                    <div class="col">
                        <p class="p-1">{{ line?.omschr }}</p>
                    </div>
                    <!-- Add other <div class="col"> elements for each column -->
                </div>
            } @empty {
                <p class="text-gray-200">Empty list of assembly details</p>
            }

            @if(assemblyMultiversLines.length > 10) {
                <div class="flex justify-end text-lg text-white">
                    {{assemblyMultiversLines.length - 10}} more
                </div>
            }
        </div>
    </div>
</div>
