<div class="min-h-[100vh] flex px-4 md:px-10 justify-center">

    <div class="h-full w-full flex items-center">
        <div class="mt-[100px] w-full mb-12 px-4">
            <table-component [baseOrderBy]="baseOrderBy" [object]="objectSingle"
                (setTableWidths)="setTableWidths($event)" (create)="openCreateModal()" (edit)="openEditModal($event)"
                (delete)="openDeleteModal($event)" [isEditable]="hasWritePermission" [isDeletable]="hasWritePermission" [isCreatable]="hasWritePermission" [title]="objectPlural"
                [searchCriteria]="searchCriteria" (searchCriteriaChange)="fetch($event)" [columns]="tableHeaders"
                [data]="tableData" [inline_selector]="'pyrolysers-form'" [isInlineCreating]="isInlineCreating"
                (export)="openExportModal()"
                (toggleInlineCreating)="toggleInlineCreating()">
                <pyrolysers-form [baseOrderBy]="baseOrderBy" (refresh)="fetch($event)" [objectSingle]="objectSingle"
                    [objectPlural]="objectPlural" *ngIf="isInlineCreating" [isInlineCreating]="isInlineCreating"
                    (toggleInlineCreating)="toggleInlineCreating()" [cellWidths]="cellWidths"></pyrolysers-form>
            </table-component>
            <app-pagination-component [searchCriteria]="searchCriteria" [totalResults]="totalResults"
                (paginationChange)="fetch($event)"></app-pagination-component>

            <modal-component [width]="ModalWidth.Large
        " [isVisible]="isCreateModalVisible" (onClose)="closeCreateModal()">
                <pyrolysers-form [baseOrderBy]="baseOrderBy" [objectPlural]="objectPlural" [objectSingle]="objectSingle"
                    (refresh)="fetch()" (closeModal)="closeCreateModal()"></pyrolysers-form>
            </modal-component>

            <modal-component [width]="ModalWidth.Large
            " [isVisible]="isEditModalVisible" (onClose)="closeEditModal()">
                <pyrolysers-form #editModal [objectPlural]="objectPlural" [baseOrderBy]="baseOrderBy"
                    [objectSingle]="objectSingle" (refresh)="fetch()" (object)="editData"
                    (closeModal)="closeEditModal()"></pyrolysers-form>
            </modal-component>

            <modal-component [width]="ModalWidth.Medium
        " [isVisible]="isDeleteModalVisible" (onClose)="closeDeleteModal()">
                <delete-modal [objectSingle]="objectSingle" [objectSingleLowerCase]="objectSingleLowerCase"
                    [selectedItem]="selectedItem" (deleteHandler)="delete($event)"
                    (closeModal)="closeDeleteModal()"></delete-modal>
            </modal-component>

            <modal-component [width]="ModalWidth.Large
            " [isVisible]="isExportModalVisible" (onClose)="closeExportModal()">
                <export [objectPlural]="objectPlural" [objectSingle]="objectSingle" [data]="tableData"
                    (export)="exportData($event)" [tableHeaders]="tableHeaders" (closeModal)="closeExportModal()">
                </export>
            </modal-component>
        </div>
    </div>
</div>