<h2 class="text-xl mb-2 font-semibold">Create Assembly</h2>
<form [formGroup]="myForm" class="flex flex-col gap-5" (ngSubmit)="onSubmit()">

  <select-component [form]="myForm" [name]="'selectedOption'" [displayName]="'Assembly Type'" [options]="assemblyTypes"
    [placeholder]="'Selecteer een assembly type'" [touched]="myForm.controls['selectedOption'].touched"
    [errors]="[{ name: 'required', message: 'Assembly type is required' }]">
  </select-component>

  <input-component [form]="myForm" [name]="'batch'" [displayName]="'Batch'" [touched]="myForm.controls['batch'].touched"
    [errors]="[{ name: 'required', message: 'Batch is required' }, { name: 'minlength' ,
    message: 'Batch must be at least 2 characters' }]"></input-component>

  <input-component [form]="myForm" [name]="'start_serial_number'" [displayName]="'Start S/N'"
    [touched]="myForm.controls['start_serial_number'].touched" [errors]="[{ name: 'required', message: 'Start serial number is required' }, { name: 'pattern' ,
message: 'Start serial number is not a valid number' }]"></input-component>

  <input-component [form]="myForm" [name]="'quantity'" [displayName]="'Quantity'"
    [touched]="myForm.controls['quantity'].touched" [errors]="[{ name: 'required', message: 'Quantity is required' }, { name: 'pattern' ,
message: 'Quantity is not a valid number' }]"></input-component>

  <div class="flex flex-row mt-auto justify-end items-center gap-2">
    <button type="button" (click)="close()" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Close</button>
    <button type="submit" [disabled]="myForm.invalid" class="cursor-pointer text-white bg-cosmosDark hover:bg-cosmosDarker focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Add Assembly</button>
  </div>

</form>