<div class="flex justify-between items-center mt-4">
    <div>

    </div>
    <div [@fadeInOut]="true" class="flex justify-center items-center ">
        <nav aria-label="Pagination">
            <ul class="pagination flex items-center justify-center gap-5">
                <li [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">

                        <div class="shadow-lg rounded-full bg-cosmosDark px-4 py-3 cursor-pointer">

                            <i class="fa fa-arrow-left text-white" aria-hidden="true"></i>


                        </div>
                    </a>

                </li>
                <li class="page-item">
                    <a class="page-link text-xl">{{ currentPage }}/{{pages}}</a>
                </li>
                <li [class.disabled]="currentPage === pages">

                    <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                        <div class="shadow-lg rounded-full bg-cosmosDark px-4 py-3 cursor-pointer">
                            <i class="fa fa-arrow-right text-white" aria-hidden="true"></i>

                        </div>
                    </a>

                </li>
            </ul>
        </nav>

    </div>
    <div>
        <div class="flex items-center gap-2">
            <select
                class="font-semibold px-8 pl-4 py-3 text-sm bg-cosmosDark border-none  focus:border-white text-white focus:border rounded-2xl focus:ring-0 focus:outline-cosmosDark"
                id="selectedOption" #offset (change)="limitChange(+offset.value)">
                <!-- (change)="onPageSizeChange($event)"> -->
                <option [defaultSelected]="10" [value]="10" >10 items per page</option>
                <option [value]="20">20 items per page</option>
                <option [value]="50">50 items per page</option>
            </select>
        </div>
    </div>
</div>