<div [formGroup]="form" class="flex flex-col" [class]="inline ? 'text-xs p-1' : ''">
    <label *ngIf="!inline" [for]="name" [ngClass]="{
        'text-red-500': form.get(name)?.errors && form && form.controls[name].touched,
        'text-green-600': form.get(name)?.valid && form && form.controls[name].touched,
        'text-slate-800': !form.get(name)?.touched
    }">{{displayName}}</label>
    
    <ng-container [ngSwitch]="inputType">
        <textarea *ngSwitchCase="'textarea'" 
            [ngClass]="{
                'text-sm': inline,
                '': !inline
            }"
        
        [ngClass]="{
          'border-red-500 focus:outline-red-500': form.get(name)?.errors && form && form.controls[name].touched || (isSubmitted && form.get(name)?.errors),
          'border-green-600 focus:outline-green-600': form.get(name)?.valid && form && form.controls[name].touched,
          'border-slate-300 focus:outline-slate-300': !form.get(name)?.touched
        }" [placeholder]="displayName" class="bg-white focus:border-0 rounded-2xl focus:ring-0 border-slate-300"
            [id]="name" [formControlName]="name"></textarea>

        <input *ngSwitchCase="'date'" type="date" [ngClass]="{
          'border-red-500 focus:outline-red-500': form.get(name)?.errors && form && form.controls[name].touched || (isSubmitted && form.get(name)?.errors),
          'border-green-600 focus:outline-green-600': form.get(name)?.valid && form && form.controls[name].touched,
          'border-slate-300 focus:outline-slate-300': !form.get(name)?.touched
        }" [placeholder]="displayName" class="bg-white focus:border-0 rounded-2xl focus:ring-0 border-slate-300"
            [id]="name" [formControlName]="name">
            
        <input *ngSwitchDefault type="text" 
    
        
        
        [ngClass]="{
          'border-red-500 focus:outline-red-500': form.get(name)?.errors && form && form.controls[name].touched,
          'border-red-500 test focus:outline-red-500': isSubmitted && form.get(name)?.errors,
          'border-green-600 focus:outline-green-600': form.get(name)?.valid && form && form.controls[name].touched,
          'border-slate-300 focus:outline-slate-300': !form.get(name)?.touched && !isSubmitted,
          'text-sm': inline 
        }" [placeholder]="displayName" class="bg-white focus:border-0 rounded-2xl focus:ring-0 border-slate-300"
            [id]="name" [formControlName]="name">
    </ng-container>

    <ng-container *ngFor="let error of errors">
        <div class="text-red-500">
            <div *ngIf="(form.get(name)?.hasError(error.name) && form && form.controls[name].touched) || (form.get(name)?.hasError(error.name) && isSubmitted)">
                {{error.message}}
            </div>
        </div>
    </ng-container>
</div>
