<div class="min-h-[100vh] flex px-4 md:px-10 justify-center">

    <div class="h-full w-full flex items-center">
        <div class="mt-[100px] w-full mb-12 px-4">
            <table-component [baseOrderBy]="baseOrderBy" [object]="objectSingle"
                (setTableWidths)="setTableWidths($event)" (edit)="openEditModal($event)"
                [isCreatable]="false"
                [detailPagePrefix]="'/user/assemblymultivers/'" [isViewable]="true" (closeView)="closeViewModal()"
                 [title]="objectPlural"
                [searchCriteria]="searchCriteria" (searchCriteriaChange)="fetch($event)" [columns]="tableHeaders"
                [data]="tableData" [inline_selector]="'filters-form'"
                
                >

            </table-component>
            <app-pagination-component [searchCriteria]="searchCriteria"
                (paginationChange)="fetch($event)"></app-pagination-component>
        </div>
    </div>
</div>