<div class="min-h-[100vh] flex px-4 md:px-10 justify-center">

    <div class="h-full w-full flex items-center">
        <div class="w-full mb-12 pt-12 px-4">
            <div class="pt-12 flex flex-col gap-6">
                <div class="bg-white rounded-2xl px-5 py-7 flex flex-col gap-2">
                    <h1 class="text-2xl text-roboto font-bold text-gray-800">Assembly Multivers ({{item?.assemblageOrder}} / {{item?.commentaar}})</h1>
                    <p>View the details of the assembly here.</p>
                </div>
                <div class="bg-white rounded-2xl px-5 py-7 flex flex-col gap-2">
                    <div class="flex gap-20">
                        <div class="flex flex-col items-center justify-center">
                            <p class="font-bold">Order datum</p>
                            <p>{{formattedDate}}</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="font-bold">MV Code</p>
                            <p>{{item?.cdartikel}}</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="font-bold">Status</p>
                            <p>{{item?.status}}</p>
                        </div>
                    </div>
                    <hr class="mt-4">
                    @for (line of assemblyLines; track line.assemblageOrder) {
                        <div class="card mb-4">
                            <div class="card-header text-lg my-2 font-semibold">
                              Assembly Line ({{ line?.omschr }})
                            </div>
                            <div class="grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 card-body gap-x-4">
                              <p>Part: {{ line.cdartikel }}</p>
                              <p>Supplier: {{ line.zoeknaam }}</p>
                              <p>Order Code: {{line.bestcode}}</p>
                              <p>Free: {{line.voorraad}}</p>
                              <p>Locatie: {{line.locatie}}</p>
                              <p>PO(N): {{line.inkopen}}</p>
                              <p>Q(n): {{ line.aantalNorm }}</p>
                              <p>Number Used: {{ line.aantalGebruikt }}</p>
                              <p>Used Value: {{ line.waardeGebruikt | currency }}</p>
                              <p>Number of Assembly: {{ line.aantalSamenstelling }}</p>
                              <p>Number Reserved: {{ line.aantalNorm }}</p>
                            </div>
                          </div>
                          <hr>
                    } @empty {
                        <p class="text-gray-500">Empty list of assembly details</p>
                    }
        
                </div>
            </div>
        </div>
    </div>
</div>