<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden bg-cosmosDarker dark:bg-cosmosDarkest flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
    <!-- Toggler -->
    <button
      class=" z-10 cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button" (click)="toggleCollapseShow('bg-cosmosDarkest m-2 py-3 px-6')">
      <i class="fa fa-bars"></i>
    </button>
    <!-- Brand -->
    <a [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-slate-100 mr-0 inline-block whitespace-nowrap text-sm uppercase font-semibold p-4 px-0">
      <div class="flex items-center  gap-2">
        <img src="assets/img/cosmos_logo_white.svg" class="w-6" alt="Cosmos Logo">
        <span class="hidden text-base sm:block"> New Cosmos - BIE
        </span>
      </div>

    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">

      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow">
      <!-- Collapse header -->
      <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-slate-200">
        <div class="flex flex-wrap mt-12 md:mt-0">
          <div class="w-6/12">
            <a [routerLink]="['/']"
              class="md:block text-left md:pb-2  text-slate-100 mr-0 inline-block whitespace-nowrap text-sm  font-bold p-4 px-0">
              New Cosmos - BIE
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button type="button"
              class="cursor-pointer text-black  md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')">
              <i class="text-white fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->


      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/']" class="text-md py-3 font-semibold block" routerLinkActive
            #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-slate-200 hover:text-white'
                : 'text-slate-200 hover:text-white'
            ">
            <i class="fa fa-dashboard mr-2 text-sm" [ngClass]="
                adminDashboard.isActive ? 'text-white' : 'text-slate-200'
              "></i>
            Dashboard
          </a>
        </li>

        @for(navigationItem of navigationObject; track $index) {
        <button *ngIf="navigationItem.show" [id]="navigationItem.name" class="text-md text-slate-200 py-3 text-left  font-semibold block hover:text-white" type="button"
          (click)="toggleNavbarDropdown($index)">
          @if(navigationItem.icon6) {
          <fa-icon class="" [icon]="navigationItem.icon6"></fa-icon>
          } @else if (navigationItem.icon4) {
          <i class="mr-2" [ngClass]="navigationItem.icon4" aria-hidden="true"></i>
          }
          {{navigationItem.name}}
        </button>
        <div *ngIf="navigationItem.active"  class=" w-48 bg-cosmosDarker dark:bg-cosmosDarkest border-slate-200 ">
          <ul class="list-none">
            @for (item of navigationItem.items; let itemindex = $index; track itemindex) {
            <li *ngIf="(authService.checkPermission(item.route.permission_id) | async)"><a
              [id]="item.title"
                [routerLink]="[item.route.path]" routerLinkActive #route="routerLinkActive" [ngClass]="
        isActive(item.route.path)
          ? 'text-white hover:text-white'
          : 'text-white hover:text-white'
      " [ngClass]="isActive(item.route.path) ? 'bg-cosmosDark dark:bg-cosmosDarker text-white' : ''"
                class="flex text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                <div class="min-w-[30px]">
                  @if(item.icon6) {
                  <fa-icon class="" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i class="" [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                </div>

                {{item.title}}
              </a></li>
            }

          </ul>
        </div>
        }
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />


      <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">

        <li (click)="logout()" id="logout" class="cursor-pointer items-center">
          <div class="text-md py-3 font-semibold block" routerLinkActive #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-white hover:text-white'
                : 'text-slate-200 hover:text-white'
            ">
            <i class="fa fa-sign-out mr-2 text-sm" [ngClass]="
                adminDashboard.isActive ? 'text-white' : 'text-slate-100'
              "></i>
            Sign out
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>