<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden bg-cosmosDarker flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button" (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')">
      <i class="fa fa-bars"></i>
    </button>
    <!-- Brand -->
    <a [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-slate-100 mr-0 inline-block whitespace-nowrap text-sm uppercase font-semibold p-4 px-0">
      <span class="hidden text-base sm:block"> New Cosmos - BIE
      </span>
    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <app-notification-dropdown class="block"></app-notification-dropdown>
      </li>
      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow">
      <!-- Collapse header -->
      <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-slate-200">
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a [routerLink]="['/']"
              class="md:block text-left md:pb-2  text-slate-100 mr-0 inline-block whitespace-nowrap text-sm  font-bold p-4 px-0">
              New Cosmos - BIE
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input type="text" placeholder="Search"
            class="border-0 px-3 py-2 h-12 border border-solid border-slate-500 placeholder-slate-300 text-slate-100 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" />
        </div>
      </form>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/user/dashboard']" class="text-md py-3 font-semibold block" routerLinkActive
            #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-white hover:text-white'
                : 'text-slate-200 hover:text-white'
            ">
            <i class="fa fa-dashboard mr-2 text-sm" [ngClass]="
                adminDashboard.isActive ? 'text-white' : 'text-slate-100'
              "></i>
            Dashboard
          </a>
        </li>
        <div class="relative">
          <button class="text-md text-slate-200 py-3  font-semibold block hover:text-white" type="button"
            (click)="toggleFavoritesDropdown()">
            <i class="fa fa-star   mr-2 "></i>Favorites
          </button>
          <div *ngIf="favoritesDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              <li><a [routerLink]="['/user/assembly']" routerLinkActive #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-white hover:text-white'
                : 'text-white hover:text-white'
            " [ngClass]="adminDashboard.isActive ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg"><i
                    class="mr-2 fa fa-cog" aria-hidden="true"></i>
                  Assembly</a></li>

            </ul>
          </div>
        </div>
        <div class="relative">
          <button class="text-md text-slate-200 py-3  font-semibold block hover:text-white" type="button"
            (click)="toggleAssembliesDropdown()">
            <i class="fa fa-cog  mr-2 "></i>Assembly
          </button>
          <div *ngIf="assemblyDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              @for (item of assembly; track $index) {
              <li><a [routerLink]="[item.url]" routerLinkActive #adminDetectorTypes="routerLinkActive" [ngClass]="
          isActive(item.url)
            ? 'text-white hover:text-white'
            : 'text-white hover:text-white'
        " [ngClass]="isActive(item.url) ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                  @if(item.icon6) {
                  <fa-icon class="mr-4" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                  {{item.title}}</a></li>
              }

            </ul>
          </div>
          <button class="text-md text-slate-200 py-3  font-semibold  block hover:text-white" type="button"
            (click)="toggleProductsDropdown()">
            <fa-icon [icon]="faBoxOpen"></fa-icon>
            Products
          </button>
          <div *ngIf="productsDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              @for (item of products; track $index) {
              <li><a [routerLink]="[item.url]" routerLinkActive #adminDetectorTypes="routerLinkActive" [ngClass]="
        isActive(item.url)
          ? 'text-white hover:text-white'
          : 'text-white hover:text-white'
      " [ngClass]="isActive(item.url) ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                  @if(item.icon6) {
                  <fa-icon class="mr-4" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                  {{item.title}}</a></li>
              }

            </ul>
          </div>

          <button class="text-md text-slate-200 py-3  font-semibold block hover:text-white" type="button"
            (click)="toggleRegistrationDropdown()">
            <fa-icon class="mr-1" [icon]="faAddressCard"></fa-icon>Registration
          </button>
          <div *ngIf="registrationDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              @for (item of registration; track $index) {
              <li><a [routerLink]="[item.url]" routerLinkActive #adminDetectorTypes="routerLinkActive" [ngClass]="
      isActive(item.url)
        ? 'text-white hover:text-white'
        : 'text-white hover:text-white'
    " [ngClass]="isActive(item.url) ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                  @if(item.icon6) {
                  <fa-icon class="mr-4" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                  {{item.title}}</a></li>
              }

            </ul>
          </div>

          <button class="text-md text-slate-200 py-3  font-semibold  block hover:text-white" type="button"
            (click)="toggleServicesDropdown()">
            <fa-icon [icon]="faServer"></fa-icon>
            Services
          </button>
          <div *ngIf="servicesDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              @for (item of services; track $index) {
              <li><a [routerLink]="[item.url]" routerLinkActive #adminDetectorTypes="routerLinkActive" [ngClass]="
        isActive(item.url)
          ? 'text-white hover:text-white'
          : 'text-white hover:text-white'
      " [ngClass]="isActive(item.url) ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                  @if(item.icon6) {
                  <fa-icon class="mr-4" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                  {{item.title}}</a></li>
              }

            </ul>
          </div>

          <button class="text-md text-slate-200 py-3  font-semibold  block hover:text-white" type="button"
            (click)="togglemiscDropdown()">
            <fa-icon [icon]="faListUl"></fa-icon>
            Misc
          </button>
          <div *ngIf="miscDropdownActive" class=" w-48 bg-cosmosDarker border-slate-200 ">
            <ul class="list-none">
              @for (item of misc; track $index) {
              <li><a [routerLink]="[item.url]" routerLinkActive #adminDetectorTypes="routerLinkActive" [ngClass]="
          isActive(item.url)
            ? 'text-white hover:text-white'
            : 'text-white hover:text-white'
        " [ngClass]="isActive(item.url) ? 'bg-cosmosDark text-white' : ''"
                  class="text-sm block  py-2 px-4 text-slate-200 hover:bg-cosmosDark rounded-lg">
                  @if(item.icon6) {
                  <fa-icon class="mr-4" [icon]="item.icon6"></fa-icon>
                  } @else if (item.icon4) {
                  <i [ngClass]="item.icon4" aria-hidden="true"></i>
                  }
                  {{item.title}}</a></li>
              }

            </ul>
          </div>

        </div>


      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />


      <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">

        <li (click)="logout()" class="cursor-pointer items-center">
          <div class="text-md py-3 font-semibold block" routerLinkActive #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-white hover:text-white'
                : 'text-slate-200 hover:text-white'
            ">
            <i class="fa fa-sign-out mr-2 text-sm" [ngClass]="
                adminDashboard.isActive ? 'text-white' : 'text-slate-100'
              "></i>
            Sign out
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>