<div class="md:px-10 mx-auto h-96 relative bg-cosmosDark dark:bg-cosmosDarkest rounded-tl-[55px]	 md:pt-32 pb-32 pt-12"> 
  <!-- <app-header-stats></app-header-stats> -->
  <div class="px-4 font-roboto text-white font-semibold text-2xl">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="flex flex-wrap px-4 md:px-10 mx-auto -m-48">
  <div class="w-full xl:w-8/12 md:mb-6 xl:mb-12 xl:mb-0 px-4">
    <app-card-line-chart [data]="data"></app-card-line-chart>
  </div>
  <div class="w-full xl:w-4/12 px-4 md:mb-6 xl:mb-12">
    <app-card-bar-chart [data]="data"></app-card-bar-chart>
  </div>
</div>