<div class="min-h-[100vh] flex px-4 md:px-10 justify-center">

    <div class="h-full w-full flex items-center">
        <div class="mt-[100px] w-full mb-12 px-4">
            <table-component [baseOrderBy]="baseService.baseOrderBy" [object]="baseService.objectSingle"
                (setTableWidths)="baseService.setTableWidths($event)" (create)="baseService.openCreateModal()" (edit)="baseService.openEditModal($event)"
                (delete)="baseService.openDeleteModal($event)" [isEditable]="baseService.hasWritePermission" [isDeletable]="baseService.hasWritePermission" [isCreatable]="baseService.hasWritePermission" [title]="objectPlural"
                [searchCriteria]="searchCriteria" (searchCriteriaChange)="baseService.fetch($event)" [columns]="tableHeaders"
                [data]="baseService.tableData" [inline_selector]="'gases-form'" [isInlineCreating]="baseService.isInlineCreating"
                (export)="baseService.openExportModal()"
                (toggleInlineCreating)="baseService.toggleInlineCreating()">
                <applications-form [baseOrderBy]="baseOrderBy" (refresh)="baseService.fetch($event)" [objectSingle]="objectSingle"
                    [objectPlural]="objectPlural" *ngIf="baseService.isInlineCreating" [isInlineCreating]="baseService.isInlineCreating"
                    (toggleInlineCreating)="baseService.toggleInlineCreating()" [cellWidths]="baseService.cellWidths"></applications-form>
            </table-component>
            <app-pagination-component [searchCriteria]="searchCriteria" [totalResults]="baseService.totalResults"
                (paginationChange)="baseService.fetch($event)"></app-pagination-component>

            <modal-component [width]="baseService.ModalWidth.Large
        " [isVisible]="baseService.isCreateModalVisible" (onClose)="baseService.closeCreateModal()">
                <applications-form [baseOrderBy]="baseOrderBy" [objectPlural]="objectPlural"
                    [objectSingle]="objectSingle" (refresh)="baseService.fetch()"
                    (closeModal)="baseService.closeCreateModal()"></applications-form>
            </modal-component>

            <modal-component [width]="baseService.ModalWidth.Large
            " [isVisible]="baseService.isEditModalVisible" (onClose)="baseService.closeEditModal()">
                <applications-form #editModal [objectPlural]="objectPlural" [baseOrderBy]="baseOrderBy"
                    [objectSingle]="objectSingle" (refresh)="baseService.fetch()"
                    (closeModal)="baseService.closeEditModal()"></applications-form>
            </modal-component>

            <modal-component [width]="baseService.ModalWidth.Medium
        " [isVisible]="baseService.isDeleteModalVisible" (onClose)="baseService.closeDeleteModal()">
                <delete-modal [objectSingle]="objectSingle" [objectSingleLowerCase]="baseService.objectSingleLowerCase"
                    [selectedItem]="baseService.selectedItem" (deleteHandler)="baseService.delete($event)"
                    (closeModal)="baseService.closeDeleteModal()"></delete-modal>
            </modal-component>

            <modal-component [width]="baseService.ModalWidth.Large
            " [isVisible]="baseService.isExportModalVisible" (onClose)="baseService.closeExportModal()">
                <export [objectPlural]="objectPlural" [objectSingle]="objectSingle" [data]="baseService.tableData"
                    (export)="baseService.exportData($event)" [tableHeaders]="tableHeaders" (closeModal)="baseService.closeExportModal()">
                </export>
            </modal-component>
        </div>
    </div>
</div>