/* .pagination {
    display: flex;
    list-style: none;
  }
  
  .page-item {
    margin: 0 2px;
  }
  
  .page-link {
    padding: 6px 12px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
   */