<div class="flex justify-center items-center mt-4">
    <nav aria-label="Pagination">
        <ul class="pagination flex items-center justify-center gap-5">
            <li 
                [class.disabled]="+paginatedResult.page === 1">
                <a class="page-link" (click)="onPageChange(+paginatedResult.page - 1)" aria-label="Previous">

                    <div class="shadow-lg rounded-2xl bg-white bg-opacity-50 backdrop-blur-lg p-4 cursor-pointer">

                        <span aria-hidden="true">&laquo;</span>

                    </div>
                </a>

            </li>
            <li class="page-item">
                <a class="page-link">{{ paginatedResult.page }}</a>
            </li>
            <li [class.disabled]="paginatedResult.page === paginatedResult.totalPages">

                <a class="page-link" (click)="onPageChange(+paginatedResult.page + 1)" aria-label="Next">
                    <div class="shadow-lg rounded-2xl bg-white bg-opacity-50 backdrop-blur-lg p-4 cursor-pointer">
                        <span
                            aria-hidden="shadow-lg rounded-2xl bg-white bg-opacity-50 backdrop-blur-lg p-4 cursor-pointer">&raquo;</span>
                    </div>
                </a>

            </li>
        </ul>
    </nav>
</div>