<div [@fadeInOut]="true" class="flex justify-center items-center mt-4">
    <nav aria-label="Pagination">
        <ul class="pagination flex items-center justify-center gap-5">
            <li [class.disabled]="+paginatedResult.page === 1">
                <a class="page-link" (click)="onPageChange(+paginatedResult.page - 1)" aria-label="Previous">

                    <div class="shadow-lg rounded-2xl bg-cosmosDark p-4 cursor-pointer">

                        <i class="fa fa-arrow-left text-white" aria-hidden="true"></i>


                    </div>
                </a>

            </li>
            <li class="page-item">
                <a class="page-link text-xl">{{ paginatedResult.page }}</a>
            </li>
            <li [class.disabled]="+paginatedResult.page === +paginatedResult.totalPages">

                <a class="page-link" (click)="onPageChange(+paginatedResult.page + 1)" aria-label="Next">
                    <div class="shadow-lg rounded-2xl bg-cosmosDark p-4 cursor-pointer">
                        <i class="fa fa-arrow-right text-white" aria-hidden="true"></i>

                    </div>
                </a>

            </li>
        </ul>
    </nav>
</div>